/* For small icons */

.icon-sm {
    font-size: 2rem;
}

.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.fa-heart {
    font-size: 1.5rem;
}

.xsmall {
    font-size: 0.65rem;
}

.icon-lg {
    font-size: 9rem;
}

.grid-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.avatar-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.icon-md {
    font-size: 3.5rem;
}

.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

/* ===チャット吹き出し=== */
.chat-bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 18px;
  line-height: 1.4;
  font-size: 0.9rem;
  position: relative;
  word-wrap: break-word;
  display: inline-block;
}

/* 相手 */
.chat-bubble.other {
  background: #f1f1f1f1;
  color: #000;
  border-top-left-radius: 4px;
}

.chat-bubble.other::after {
  content: "";
  position: absolute;
  left: -6px;
  bottom: 10px;
  width: 12px;
  height: 12px;
  background: #f1f1f1;
  transform: rotate(45deg);
}

/* 自分 */
.chat-bubble.me {
  background: #0d6efd;
  color: #fff;
  border-top-right-radius: 4px;
}

.chat-bubble.me::after {
  content: "";
  position: absolute;
  right: -6px;
  bottom: 10px;
  width: 12px;
  height: 12px;
  background: #0d6efd;
  transform: rotate(45deg);
}


